@model Biblioteca.Modelo.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rutaimagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rutaimagen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.libroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
